<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ServerManager</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="servers">
            <h1>Servers</h1>
            <hr>
            <div class="server">
                <div class="metric" id="cpu">
                    <h>CPU Usage</h>
                    <hr>
                    <p>0%</p>
                </div>
            </div>
        </div>
    </body>
</html>