<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ServerManager</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="servers">
            <h1>Servers</h1>
            <hr>
            <div class="server">
                <div class="metric" id="cpu">
                    <h>CPU Usage</h>
                    <hr>
                    <p>0%</p>
                    <hr>
                    <iframe id="cpuf1" width="50", height="50" style="background-color: rgb(255, 255, 255);"></iframe>
                </div>
                <div class="metric" id="net1">
                    <h>NET Interfaces</h>
                    <hr>
                    <p><b class="bup">0</b>/<b class="bdown">0</b></p>
                    <hr>
                    <iframe id="netf1" width="50", height="50" style="background-color: white;"></iframe>
                </div>
                <div class="metric" id="ram1">
                    <h>Ram Usage</h>
                    <hr>
                    <p>0%</p>
                    <hr>
                    <iframe id="ramf1" width="50", height="50" style="background-color: white;"></iframe>
                </div>
                <div class="metric" id="temp1">
                    <h>Temp Usage</h>
                    <hr>
                    <p id="Temp1">0C</p>
                    <hr>
                    <iframe id="tempf1" width="50", height="50" style="background-color: white;"></iframe>
                </div>
            </div>
        </div>
    </body>

    <script src="https://cdn.jsdelivr.net/npm/sql.js/dist/sql-wasm.js"></script>
    <script src="script.js"></script>
</html>
