<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>ServerManager</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="servers">
            <h1>Servers</h1>
            <hr>
            <div class="server">
                <div class="metric" id="cpu">
                    <h>CPU Usage</h>
                    <hr>
                    <p>0%</p>
                </div>
                <div class="metric" id="cpu">
                    <h>NET Interfaces</h>
                    <hr>
                    <p><b class="bup">0</b>/<b class="bdown">0</b></p>
                </div>
                <div class="metric" id="cpu">
                    <h>Ram Usage</h>
                    <hr>
                    <p>0% (<b class="bup">0</b>/<b class="bdown">0</b>)</p>
                </div>
                <div class="metric" id="cpu">
                    <h>Temp Usage</h>
                    <hr>
                    <p id="Temp" class="bindicator">0C</p>
                </div>
            </div>
        </div>
    </body>
</html>