.servers{
    display: table;
    text-align: center;
    margin: auto;
    width: 50%;
}

.server{
    background-color: rgb(202, 255, 255);
    padding: 10px;
    border-radius: 20px;
    border: 2px solid cyan;
    display: flex;
}

.metric{
    width: 15%;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 2px solid cyan;
    margin: 4px;
}

.bup{
    color: green;
}

.bdown{
    color: red;
}

.bindicator{
    font-size: 20px;
    text-align: center;
    color: red;
}